body { background-image: url(Lego-achtergrond2.jpg); /*achtergrond nog toevoegen */
background-position: top;
background-attachment: fixed;
background-size: 100%;
margin-right: 50px;

}
h1 { Color: rgba(255,255,0,1); text-align: center;}
h2.hoofd-style1 {font-family:  Verdana, Geneva, sans-serif;
 Color: rgba(255,255,0,0.7); text-align: right;
margin-left: 1000px;
font-size: ;
 border: 2px bottom;
 border-radius: 5px;
border-color: rgba(255,255,0,1)}
p.paragraaf-style {font-family:   Verdana, Geneva, sans-serif;
 Color: rgba(255,255,0,0.7); text-align: right;
margin-left: 1200px;
font-size: ;
 border: 2px solid;
 border-radius: 5px;
border-color: rgba(255,255,0,1)}
 p.paragraaf-style2 {font-family:   Verdana, Geneva, sans-serif;
  Color: rgba(255,255,0,0.7); text-align: right;
 margin-left: 860px;
 font-size: ;
}
a { font-family:  Verdana, Geneva, sans-serif;
  color: rgba(255,255,0,0.7); text-decoration: none;
   }
  a:hover { color: #666; text-decoration: none; }
 ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   width: 15%;
   background-color:  rgba(255,0,0,0.5);
   position: fixed;
   height: 100%;
   overflow: auto;
 }
 li a {
   display: block;
   color: rgba(255,255,0,1);
   padding: 8px 16px;
   text-decoration: none;

 }
 li a.active {
  background-color: rgba(255,255,0,0.5);
  color: white;
}

li a:hover:not(.active) {
  background-color: rgba(255,255,0,0.3);
  color: white;

  }
/* voor nav bar https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_sidenav_push_opacity */
/* test /*
/* tijdlijn voor pagina 2, https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_timeline */
ul.tijdlijn
