body { background-image: url(Lego-achtergrond2.jpg); /*achtergrond nog toevoegen */
background-position: top;
background-attachment: fixed;
background-size: 100%;
margin-right: 100px;

}
h1 { Color: rgba(255,255,0,1); text-align: center;}

p.boven-style {font-family:  "Lucida Console", "Courier New", monospace;
 Color: rgba(0,0,0,1); text-align: right;
margin-left: 1000px;
font-size: ;
 border: 2px solid;
 border-radius: 5px}

 ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   width: 15%;
   background-color:  rgba(255,0,0,0.5);
   position: fixed;
   height: 100%;
   overflow: auto;
 }
 li a {
   display: block;
   color: rgba(255,255,0,1);
   padding: 8px 16px;
   text-decoration: none;

 }
 li a.active {
  background-color: rgba(255,255,0,0.3);
  color: white;
}

li a:hover:not(.active) {
  background-color: rgba(255,255,0,0.5);
  color: white;
  #navlist {
    position: relative;
  }
  
